{% extends 'base.html' %}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">درباره ما</h1>
            <p class="lead fw-normal text-white-50 mb-0">F_store</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align="justify">
آدرس : تهران ، ولنجک ، خیابان امیر کبیر ، ساختمان فرشته ، پلاک ۱۵ <br><br>
ساعات کاری : شنبه تا پنجشنبه ساعت ۱۰ تا ۲۰ <br><br>

تماس با ما : ۰۲۱۱۱۱۱۱۱۱۱
                </p>
            </div>
        </center>
    </div>
</div>
<br><br>

{% endblock %}